logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/conf/evolutions.default


JavalyUI/node_modules
JavalyUI/dist
JavalyUI/.tmp
JavalyUI/.sass-cache
JavalyUI/bower_components
JavalyUI/.gitignore
JavalyUI/.gitattributes
JavalyUI/.editorconfig