<div>
  <md-card>
    <h3>{{question.title}} :: {{question.author.name}}</h3> <br>
    <md ng-model="question.description"></md>
  </md-card>

  <flippy
    flip-duration="500"
    style="width:100%;"
    timing-function="ease-in-out">

    <flippy-front>
      <md-card>
        <md-toolbar class="md-hue-3">
          <div class="md-toolbar-tools">
            <span flex></span>
            <md-button ng-click="submit(); flip()">
              Submit
            </md-button>
            <md-button>Help</md-button>
          </div>
        </md-toolbar>
        <div style="height: 500px">
          <ui-codemirror ng-model="code" ui-codemirror-opts="editorOptions"></ui-codemirror>
        </div>
      </md-card>

    </flippy-front>

    <flippy-back>
      <md-card>
        <md-toolbar class="md-hue-3">
          <div class="md-toolbar-tools">
            <span flex></span>
            <md-button ng-click="flip()">Redo</md-button>
            <md-button>Next</md-button>
          </div>
        </md-toolbar>

        <table class="table table-hover"
               style="font-size: 18px; font-family: menlo; word-wrap: break-word">
          <tr>
            <th width="20%">Input</th>
            <th width="40%">Expected Output</th>
            <th width="40%">Your Output</th>
          </tr>
          <tr ng-repeat="result in results" ng-class="result.hasPassed ? 'success' : 'danger'">
            <td>{{ question.methodName }}({{ result.input }})</td>
            <td>{{ result.expectedOutput }}</td>
            <td>{{ result.resultOutput }}</td>
          </tr>

        </table>
      </md-card>
    </flippy-back>

  </flippy>
  <div style="height: 700px; display: block"></div>
</div>
