<div ng-controller="addQuestionFormController">

  <md-card>

    <legend>New Question</legend>

    <label>Title</label><br>
    <input ng-model="question.title" type="text" style="font-family: menlo">
    <br>

    <label>Class Name</label><br>
    <input ng-model="question.classname" type="text" ng-change="updatePreview()" style="font-family: menlo">
    <br>

    <label>Method Name</label><br>
    <input ng-model="question.methodname" type="text" ng-change="updatePreview()" style="font-family: menlo">
    <br>

    <label>Description</label>
    <textarea rows="10" ng-model="question.description" style="width: 100%; font-family: menlo"></textarea>

    <label>Init Code</label>
    <textarea ng-model="question.init" ng-change="updatePreview()" style="width: 100%; font-family: menlo"></textarea>

    <label>Helper Methods</label>
    <textarea ng-model="question.helpermethod" ng-change="updatePreview()" style="width: 100%; font-family: menlo"></textarea>
    <br>
    <br>

    <label>Test Cases</label>
    <table class="table">
      <tr>
        <th>Case</th>
        <th>Input</th>
        <th>Output</th>
        <th></th>
      </tr>

      <tr ng-repeat="testcase in testcases track by $index">
        <td>#{{$index + 1}}</td>
        <td>
          <input type="text" style="width: 100%;" ng-model="testcase.input" ng-change="updatePreview()">
        </td>
        <td>
          <input type="text" style="width: 100%;" ng-model="testcase.output" ng-change="updatePreview()">
        </td>
        <td>
          <md-button ng-hide="$last" ng-click="remove($index)" class="md-primary">x</md-button>
          <md-button ng-show="$last" ng-click="add()" class="md-primary">Add</md-button>
        </td>
      </tr>
    </table>

    <div layout="horizontal">
      <span flex></span>
      <md-button ng-click="submit()" class="md-raised md-primary">Submit</md-button>
      <span flex></span>
    </div>


  </md-card>

  <md-card>
    <h2>Question Preview</h2>
    <h3>{{question.title}} :: Lee Yeow Leong</h3> <br>
    <md ng-model="question.description"></md>
  </md-card>

  <md-card>
    <h2>Code Preview</h2>
    <ui-codemirror ng-model="preview" ui-codemirror-opts="editorOptions"></ui-codemirror>
  </md-card>

</div>
