<!DOCTYPE html>
<html>
    <head>
        <title>Javaly!</title>
    </head>
    <body>
        <h1>Registration Form</h1><br>
        <form action="/user/register" method="POST">
            Name:<br>
            <input type="text" name="name" value="Lee Yeow Leong">
            <br>
            Username:<br>
            <input type="text" name="username" value="yllee">
            <br>
            Password:<br>
            <input type="password" name="password" value="">
                Usertype:<br>
                <input type="text" name="useType" value="s" maxlength = 1>
                <input type="hidden" name="salt" value="123">
            <br><br>

            <input type="submit" value="Submit">
        </form>
        <br>
    </body>
</html>
